/* =================================
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', sans-serif;
  color: #4c4c4c;
  background: white;
}

.App {
  width: 75%;
  max-width: 1000px;
  height: 700px;
  overflow: scroll;
  margin: 2em auto;
  border-radius: .35em;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column-reverse;
 }

h1,
p,
form button {
  color: white;
}
/* come back and see how to restyle this */

form {
  width: 80%;
  height: 60px;
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: .35em;
  border: solid 4px white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

form button {
  padding: 0 1em;
  font-size: 1em;
  background: #7bcbc4;
  border-radius: .2em;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 1em;
  border-radius: .2em;
  border: solid 1px grey;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  position: relative;
}

button {
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
  font-size: 20px;
}


input {
  width: 80%;
}


input:focus {
  width: 80%;
  border: solid 3px grey;
}

header {
}

li span,
li input[type=text] {
  color: #707070;
  font-size: 1.3em;
  margin-bottom: 1.5em;
  margin-top: .5em;
}

li input[type=text] {
  padding: .2em;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, .2);
}


li span,
li input[type=text]:first-child {
  display: block;
}

li button {
  font-size: .78em;
  margin-top: 1.65em;
  margin-right: .4em;
  border-radius: .3em;
  padding: .4em .6em;
  color: white;
  background: #58b7cd;
}

li button:last-child {
  background: rgba(88, 183, 205, .5);
}

div .metadata {
  display: flex;
  justify-content: space-between;
}

.metadata h5 {
  color: grey;
}

.participantButtons {
  font-size: .78em;
  margin-top: 1.65em;
  margin-right: .4em;
  border-radius: .3em;
  padding: .8em 1em;
  color: white;
}

.participantButtons:focus {
  border: solid 3px grey;
}


.participantButtonOne {
  background: #58b7cd; 
}

.participantButtonTwo {
  background: pink; 
}

.participantButtonThree {
  background: turquoise; 
}


tr {
  color: rgba(118, 118, 118, .75);
}

td:last-child {
  font-weight: bold;
  font-size: 1.16em;
  color: rgb(118, 118, 118);
}

/* counter */

.counter {
  color: grey;
  display: flex;
  margin-right: 20px;
}

.counter span {
  color: rgb(210, 210, 210);
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 768px) {

  header {
    padding: 1.25em;
  }

  .main {
    padding: 2em 1em .75em;
  }

  ul li {
    margin-bottom: 1em;
  }

  form {
    width: 95%;
    flex-direction: row;
    margin: auto;
    margin-top: 2.5em;
  }

  form button {
    margin-top: .5em;
  }

  form input {
    font-size: 1em;
  }

}

@media (min-width: 769px) {
  header {
    height: 50px;
    padding: 2.5em 1em 1em;
    background-position: 0 -95px;
  }
 
  form {
    margin: 1em auto 0 auto;
    z-index: 3000;
    position: relative;
  }


  .main {
    position: relative;
    z-index: 10;
  }


  td:last-child {
    padding-left: 5px;
  }

  .main > div {
    float: left;
    margin-left: 1.25%;
    margin-bottom: 1.5em;
  }

  ul {
    display: flex;
    clear: both;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1.25em;
  }

  ul li {
    flex-grow: 1;
    flex-basis: 100%;
    margin: 3.5% 15.25% 1em;
  }
}

@media (min-width: 880px) {
  ul li {
    flex-basis: 100%;
  }
}
